


@{
    ViewBag.Title = "DetailedStatement";
}

<h2>DetailedStatement</h2>
<div style="background-color:lightgray">Search</div>
@using (Html.BeginForm())
{
    <div>
        @Html.RadioButton("trans", "date")TransactionDate(dd/mm/yy)
        <label>
            From
        </label>
        <input type="date" id="txtfrdate" name="txtfrdate" />
        <label>
            To
        </label>
        <input type="date" id="txttodate" name="txttodate" />
    </div>
    <div>
        @Html.RadioButton("trans", "period")TransactionPeriod
        @Html.DropDownList("ddlmember", new List<SelectListItem> { new SelectListItem { Text = "Last 1 Month", Value = "Last" }, new SelectListItem { Text = "Last 1 Week", Value = "LastWeek" }, new SelectListItem { Text = "Today", Value = "Today" } });
    </div>
    <div>
        <input type="button" value="Get Statement" name="Command" />
    </div>

}
