
@{
    ViewBag.Title = "Links";
}



<h2>Links</h2>

@Html.ActionLink("VIEW-MINI STATEMENT", "MiniStatement")
<br/>
@Html.ActionLink("VIEW-DETAILED STATEMENT", "StatmentDetail")
<br/>
@Html.ActionLink("BACK", "LoginPage1")




